---
layout: default
---

	<div class="grouplogo">
	</div>
	<br>

<div class="container">
	<div class="col-2">
	</div>
	<div class="main">

	<h1>Climate, Risk, and Complex Systems</h1>

	<p>Climate change is a systems problem. Managing climate risk requires infrastructure investments aimed at reducing greenhouse gas emissions and adapting to changes in extreme events. These investment strategies need to account for deep uncertainty and complex dynamics across sectors and between the natural and human systems. They affect stakeholders with diverse values and preferences, and have the potential to increase equity, resilience, and justice.</p>

	<p>The Srikrishnan Research Group works on improving the resilience of societal units, from individual to global, to deeply uncertain and dynamic environmental risks. Our interdisciplinary, mission-oriented research addresses a broad set of problems, from flood risk management to energy-system investments.</p>

	</div>


	<div class="submain">
		<h2>Research Areas</h2>

		<p>Find out more about our current research areas. We do mission-oriented basic research addressing a broad range of stakeholder-driven climate risk management problems.</p>

		<a href="/areas/">Learn More &rarr;</a>
	</div>
	<div class="submain">
		<h2>Join The Team!</h2>

		<p>We are an inclusive group working on interdisciplinary, societally impactful problems, at the interface of statistics, decision-making, and systems engineering.</p>

		<a href="/join/">Learn More &rarr;</a>
	</div>

	<div class="news">
		<h2>News &amp; Updates</h3>
			<ul>
			{% for post in site.tags.news limit:4 %}
      {% if post.category != "album" %}
      <li><a href="{{ post.url }}">
				<small
            style:"text-align: right">{{ post.date | date_to_string }}</small>
        <h4>{{ post.title }}</h4>
        <p>{{ post.subtitle }}</p>
      </a></li>
      {% endif %}
      {% endfor %}
		</ul>
			<div class="archivelink">
			<a href="/archive/">View Full Archive &rarr;</a>
		</div>
	</div>
</div>
