---
layout: page
title: Research Areas
permalink: /research/areas/
---

<div class="container">
{% assign pages = site.pages | sort:"order" %}
{% for page in pages %}
{% if page.path contains 'research-areas/' and page.path contains '.md' %}
  <div class="col-4">
    {% if page.image %}
      <img src="{{ page.image }}" style="padding-right: 20px" align="left" alt={{ page.title }} width=250px />
    {% endif %}
  </div>
  <div class="col-8">
    <a name="{{ page.title }}"></a>
    <h2>{{ page.title }}</h2>
    {{ page.content | markdownify }}
  </div>
{% endif %}
{% endfor %}
</div>
