---
layout: page
title: Funding Sources
permalink: /research/funding/
---

<div class="container">
  {% assign funders = site.data.funding %}
  <div class="col-8">
  <h2>Current Support</h2>
  {% for funder in funders %}
    {% if funder.current %}
      <div class="col-2">
        {% if funder.logo %}
        <a href="{{ funder.agency_url }}" target="_blank"><img src="{{ funder.logo }}" width=150px></img></a>
        {% endif %}
        {% if funder.program_url %}
        <p>{{ funder.agency }} <br> <a href="{{ funder.program_url }}">{{ funder.program }}</a></p>
        {% else %}
        <p>{{ funder.agency }} <br> {{ funder.program }}</p>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>
</div>
