<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

      {% assign footer_links = site.data.footer_links | sort: 'category' %}
      {% assign count = 0 %}
      {% for link in footer_links %}
        {% assign count = count | plus: 1 %}
        {% if count > 1 %}
        |
        {% endif %}
        <a href="{{ link.href }}">{{ link.name }}</a>
      {% endfor %}

      <br>

      <a href="https://cornell.edu"><img src="{{ site.logo_cornell }}" height=45px alt="Cornell University"></img></a>
      <br>


  </div>

</footer>
