/**
  * bibliography styling
*/

.card {
  width: 80%;
  border: 1px solid #222222;
  margin: 20px;
}

.bibcard-ref {
  width: 100%;
  padding: 5px;
}

.bibcard-notes {
  width: 100%;
  background: #222222;
  padding: 0px;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.bibcard-notes a {
  padding: 10px;
}

.card-title {
  width: 100%;
  background: #222222;
  color: #f7f7f7;
  min-height: 50px;
  text-align: center;
  font-size: 18px;
}

.card-text {
  padding: 10px;
}
