/**
  * Grid system
  */

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.col-2 {
  grid-column: span 2;
}

.main {
  grid-column: span 8;
  justify-content: center;
  grid-row: 1;
}

.submain  {
  grid-column: span 4;
  justify-content: left;
}

.news {
  grid-column: span 4;
  grid-row: 1 / span 2;
}

.col-12 {
  grid-column: span 12;
}

.col-8 {
  grid-column: span 8;
}

.col-4 {
  grid-column: span 4;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
  }
  .news {
    grid-column: span 8;
    grid-row: 3;
  }
  .contact {
    grid-column: span 8;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .news {
    grid-column: span 4;
    grid-row: 4;
  }
}

@media (min-width: 600px) {
  .submain {
    grid-row: 2;
    justify-content: center;
  }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer {
  grid-column: span 12;
  text-align: center;
}

.footer img {
  padding-top: 15px
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

h1 /* .post-title */ {
/*    font-size: 42px; */
    letter-spacing: -1px;
    line-height: 1;
		font-family: 'Mulish', sans-serif;
		color: $cornell-red;

    @include media-query($on-laptop) {
/*        font-size: 36px; */
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
		font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
/*        font-size: 32px; */

        @include media-query($on-laptop) {
/*            font-size: 28px; */
        }
    }

    h3 {
		font-style: italic;
/*        font-size: 26px; */

        @include media-query($on-laptop) {
/*            font-size: 22px; */
        }
    }

    h4 {
/*       font-size: 20px; */

        @include media-query($on-laptop) {
/*            font-size: 18px; */
        }
    }
}

						.footnotes ol li {list-style-type:decimal;}
						.footnotes ol {font-size:.85em; color:#666666;}

html {
  overflow-y: scroll;
}

ul.listing {
	list-style-type: none;
	margin-left: 0px;
}

ul.listing li.listing-seperator {
	padding-top: 15px;
	font-weight: bold;
	font-family: 'Jaldi', sans-serif;
	font-size: 1.17em;
}

ul.listing li.listing-item time {

	color: #333;
	font-weight: 500;
	text-transform: uppercase;
	padding-right: 10px;
}

ul.listing li.listing-item a {
	color: $cornell-grey;
	font-weight: 400;
	font-family: 'Jaldi', sans-serif;
}


/*------ archive type stuff ------ */

ul#archive {
       list-style-type: none;
       margin: 0 0 1em 0;
       padding: 0;
}

ul#archive li {
       border-top: #999 1px dotted;
       border-bottom: #999 1px dotted;
       padding: .1em 0 .1em .5em;
}

ul#archive li:nth-child(even) { background: #f9f9f9; }
ul#archive li:nth-child(odd) { background: #fdfdfd; }

ul#archive  h2 {
	padding-top: .5em }

ul#archive li.alt {
       background: #f6f6f6;
}

.archiveposturl {
       display: block;

       color: #333;
}

.archiveposturl:hover {

}

ul#archive li span a {
       color: $cornell-grey;
	font-weight: bold;
font-family: 'Jaldi', sans-serif;
}


ul#archive li span.postlower {
	font-size: 85%

}

ul#archive li span.postlower a {
	color: #07c;
	font-weight: normal;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;

}

article ul {
  list-style-type: none;
}

article ul > li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em;
}

article ul#archive > li:before {
  list-style-type: none;
  content: none;
}

.archivelink {
  text-align: right;
}

.archivelink a:link {
  color: $cornell-red;
}

/* ul#archive li span {
       color: #000;
       font-size: 85%;
}



ul#archive li span a:hover {
       border-bottom: #bdbdbd 1px solid;
} */
