/**
 * Images and logos
 */

 .grouplogo {
   position: relative;
   text-align: center;
   background: url(/assets/img/logos/sea_level_rise_banner.png) top left no-repeat;
   height: 225px;
   width: 100%;
 }
