/**
  * Group member layouts
  */

.group-member-photo {
  grid-column: span 3;
  align-content: center;
  justify-content: center;
}

.group-member-bio {
  grid-column: span 9;
}

.group-member-photo img {
  width: 200px;
  padding-top: 50px;
}

.group-member-bio h3 {
  font-family: "Mulish", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #222222;
  font-size: $base-font-size * 1.5;
}

@media (max-width: 480px) {
  .group-member-photo {
    grid-column: span 4;
  }
}

@media (max-width: 768px) {
  .group-member-photo {
    padding-top: 0;
    grid-column: span 8;
  }
}
