.news ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.news ul li {
	border: 1px solid #222222;
	margin-top: -1px;
	background-color: #f7f7f7;
	padding: 10px;
	padding-bottom: 4px;
	padding-right: 6px;
}

.news p {
	font-size: $small-font-size;
}

.news h4 {
	font-size: $base-font-size;
}

.news a {
	color: $text-color;
}
