---
layout: page
title: News Archive
permalink: archive/
---

        {% for post in site.tags.news %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
      <h3>{{ post.date | date: '%Y' }}</h3>
      <ul class="past">
        {% endif %}
        <li><b>{{ post.date | date:"%d %b" }}</b> - <a href="{{ post.url }}">{{ post.title }}</a>
          {% if post.subtitle %} <em>{{ post.subtitle }}</em>{% endif %}</li>
        {% endfor %}
      </ul>
  <br />
  <br />
  <br />
</div>
