---
---

<div class="bibcard">
  <div class="bibcard-body">
    {{ reference }}
  </div>
  <div class=""bibcard-notes">
    {% if entry.doi %}
 {% capture link %}https://doi.org/{{ entry.doi }}{% endcapture %}
 {% elsif entry.url %}
 {% capture link %}{{ entry.url }}{% endcapture %}
 {% endif %}
 {% if entry.status %}
 <a href=<img src="https://img.shields.io/static/v1?label=&message={{ entry.status }}&color=red&style=flat" alt="Status">
</a>
{% endif %}
 {% if entry.open == "true" and link %}
 <a href="{{ link }}">
     <img src="https://img.shields.io/static/v1?label=&message=Open Access&color=green&style=flat" alt="Link">
 </a>
 {% endif %}
 {% if entry.open != "true" and link %}
 <a href="{{ link }}">
     <img src="https://img.shields.io/static/v1?label=&message=Published&color=blue&style=flat" alt="Link">
 </a>
 {% endif %}
 {% if entry.repo %}
 {%  if entry.repo contains "github" %}
 <a href="{{ entry.repo }}" color="#000000">
     <img src="https://img.shields.io/static/v1?style=flat&logo=github&label=&message=Open Source" alt="GitHub Repository">
 </a>
 {% elsif entry.repo contains "bitbucket" %}
 <a href="{{ entry.repo }}">
     <img src="https://img.shields.io/static/v1?style=flat&logo=bitbucket&label=&message=Open Source" alt="Bitbucket Repository">
 </a>
 {% elsif entry.repo contains "gitlab" %}
 <a href="{{ entry.repo }}">
     <img src="https://img.shields.io/static/v1?style=flat&logo=gitlab&label=&message=Open Source" alt="GitLab Repository">
 </a>
 {% else" %}
 <a href="{{ entry.repo }}">
     <img src="https://img.shields.io/static/v1?style=flat&label=code&message=Open Source" alt="Code Repository">
 </a>
 {% endif %}
 {% endif %}
 {% if entry.preprint %}
 <a href="{{ link }}">
     <img src="https://img.shields.io/static/v1?label=&message=Preprint&color=purple&logo=arxiv&style=flat" alt="Link">
 </a>
 {% endif %}
</div>
</div>
