!.gitignore

_dross/
*.Rmd

# Specialty documents that are often ad hocs things a given employer may want to see.
# Basically, I don't care if people know I'm applying for jobs. I just don't want Git to think it can track these things.

svm-resume.pdf
svm-research-teaching-materials.pdf
svm-2013-clemson-gatech-crop-2.jpg
svm-teaching-materials.pdf

# for various docs on my website
# These are more for making sure no sensitive info gets out
# Basically, make_cv has my phone number and *-jm.pdf is my job market PDF with my references (along with phone num)
make_cv.R
svm-cv-jm.pdf